<!DOCTYPE html>
<html lang="en">
<head>

  <title>ЛБ</title>

<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
  <div class="jumbotron">
    <div class="container">
      <p>
        <a href="/laba1" class="btn btn-info btn-lg">Изменение таблиц</a>
      </p>

       <p>
        <a href="/laba1/query" class="btn btn-info btn-lg">Query</a>
      </p>


    </div>
  </div>
</body>
</html>