<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tables_change</title>
</head>

    <div class="form-group">
    <form action="/laba1/" method="Post"> 
    {% csrf_token %}
    <label for="exampleFormControlSelect2">Список таблиц:</label>
    <p></p>
    <select multiple class="form-control" id="exampleFormControlSelect2" name="select_table">
        {% for i in tables %}
            {% for j in i %}    
                <option name="select_table">{{ j }}</option>
            {% endfor %}    
        {% endfor %}
    </select>
    <p></p>
    </div>


    
<div class="row ">
    <div class="col-1">
        <button type="submit" class="btn btn-dark" aria-pressed="true">OK </button>
        </form>
    </div>
    <div class="col-1">
        <form action="\">
            <button  type="submit" class="btn btn-dark" aria-pressed="true">Назад</button>
        </form>
    </div>
</div>
    <p></p>
<div class="row ">
    <div class="col-2">
      {% if attrib %}
        <form action="truncate/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-dark" aria-pressed="true">Очистить таблицу </button>
        </form>
      {% endif %}
    </div>

    <div class="col-2">
      {% if attrib %}
        <form action="delete_table/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-dark" aria-pressed="true">Удалить таблицу </button>
        </form>
      {% endif %}
    </div>
    
    <div class="col-2">
      {% if attrib %}
        <form action="add_data/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-dark" aria-pressed="true">Добавить данные </button>
        </form>
      {% endif %}
    </div>
</div>

    <p></p>
       
 


    <table class="table">
    <thead class="thead-dark">
        <tr>
            {% for i in attrib %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>

    
    {% csrf_token %}
    <thead>
    {% for j in selected_tb %}
        <tr>
            {% for i in j %}
            <td class = "col-md-auto" name="one" > {{ i }} </td>
            {% endfor %}
            <div class="col">   
             <th><a method="Post" name="two" href="change_data/?name={{name_table}}{% for i in j %} {{ i }}{% endfor %}">Изменить</a> | <a href="del/?name={{name_table}}{% for i in j %} {{ i }}{% endfor %}">Удалить</a></th>
             </div>
        </tr>
    {% endfor %}  
    </thead>
    </table>


</html> 