<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tables_change</title>
    <style>
  .upper {
    top: 10%;
    background: gray;
    padding: 10px;
    margin: 10px;
    margin-right:10pt;
  }
    .bodys{
        background: gray;
        
    }
    .names_tab{
        margin-left:10pt;
        color:white;
        font-weight: 450;
        font-size: 16pt;
    }
    .col-1{
        margin-left:10pt;   
    }

    .tables_pr{
        margin-left:10pt;
        margin-right:10pt;
    }
    .child {
    background: #eee;
    border: 2px solid #ccc;
    padding: 6px;
    float: left;
    width: 140pt;
    margin-right: 1%;
    margin-bottom: 5pt;
    }

  </style>
</head>
<body class="   ">
    <div class="upper">
    <div class="form-group">
    <form action="/laba1/" method="Post"> 
    {% csrf_token %}
    <label class="names_tab" >Список таблиц:</label>
    <p></p>
    <select multiple class="form-control" id="exampleFormControlSelect2" name="select_table">
        {% for i in tables %}
            {% for j in i %}    
                <option name="select_table">{{ j }}</option>
            {% endfor %}    
        {% endfor %}
    </select>
    </div>


    
<div class="navbar ">
<div class="row ">
    <div class="col-2">
        <button type="submit" class="btn btn-dark" aria-pressed="true">OK </button>
        </form>
    </div>
    <div class="col-3">
        <form action="\">
            <p><button  type="submit" class="btn btn-dark" aria-pressed="true">Назад</button></p>
        </form>
    </div>
    <div class="col-10" >
        <form action="create_tables">
            <p><button  type="submit" class="btn btn-dark " aria-pressed="true">Создать таблицу</button></p>
        </form>
    </div>
</div>  
</div>
    </div>
      {% if attrib %}
<div class = "navbar">
<div class="row ">
    <div class="col-3">
        <form action="truncate/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-secondary" aria-pressed="true">Очистить таблицу </button>
        </form>
      {% endif %}
    </div>

    <div class="col-3">
      {% if name_table %}
        <form action="delete_table/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-secondary" aria-pressed="true">Удалить    таблицу </button>
        </form>
      {% endif %}
    </div>

    <div class="col-3">
      {% if name_table %}
        <form action="rename_table/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <button  type="submit" class="btn btn-secondary" aria-pressed="true">Переименовать    таблицу </button>
        </form>
      {% endif %}
    </div>

    <div class="col-3">
      {% if attrib %}
        <form action="add_data/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <p><button  type="submit" class="btn btn-secondary" aria-pressed="true">Добавить данные </button></p>
        </form>
      {% endif %}
    </div>
    <div class="col-3">
      {% if attrib %}
        <form action="change_table/?name={{name_table}}"  method="POST">
        {% csrf_token %}
            <p><button  type="submit" class="btn btn-secondary" aria-pressed="true">Добавить столбец</button></p>
        </form>
      {% endif %}
    </div>

</div>
</div>  

 <div class="tables_pr">   
    <table class="table">
    <thead class="thead-dark">
        <tr>
            {% for i in attrib %}
                <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>

    

{% if attrib %}   
{% for i in attrib %}

<div>
<div class="child">
        <form action="del_atrib/?name={{name_table}} {{i}}"  method="POST">
        {% csrf_token %}
            <p><button  type="submit" class="btn btn-secondary" aria-pressed="true">Удалить {{i}} </button></p>
        </form>
        <form action="change_atrib/?name={{name_table}} {{i}}"  method="POST">
        {% csrf_token %}
            <p><button  type="submit" class="btn btn-secondary" aria-pressed="true">Изменить {{i}}</button></p>
        </form>

</div>
</div>
{% endfor %}



    {% csrf_token %}
    <thead>
    {% for j in selected_tb %}
        <tr>
            {% for i in j %}
            <td class = "col-md-auto" name="one" > {{ i }} </td>
            {% endfor %}
            <div class="col">   
             <th><a method="Post" name="two" href="change_data/?name={{name_table}}{% for i in j %} {{ i }}{% endfor %}">Изменить</a> | <a href="del/?name={{name_table}}{% for i in j %} {{ i }}{% endfor %}">Удалить</a></th>
             </div>
        </tr>
    {% endfor %}  
    </thead>
    </table>
    {% endif %}
</div>
</body>
</html> 