<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Tables_change</title>
</head>
<body>

<div class="jumbotron">
    <form name ="auth" action="new/" method="Post" > 
    {% csrf_token %}
    <div class = "main">
    <p class="names_tab" > Создание таблицы: {{name_table}}</p> 
    <p><input name="name"  placeholder = "Имя таблицы"  > </input></p>
    <div class="row">
        <p><input name="changes1"  placeholder = "Имя атрибута"  > </input></p>
        <p> -    </p>
        <p><input name="changes1"  placeholder = "Тип атрибута"  > </input></p>
    </div>
    <div class="row">
        <p><input name="changes2"  placeholder = "Имя атрибута"  > </input></p>
        <p> -    </p>
        <p><input name="changes2"  placeholder = "Тип атрибута"  > </input></p>
    </div>
    <div class="row">
        <p><input name="changes3"  placeholder = "Имя атрибута"  > </input></p>
        <p> -    </p>
        <p><input name="changes3"  placeholder = "Тип атрибута"  > </input></p>
    </div>
    <div class="row">
        <p><input name="changes4"  placeholder = "Имя атрибута"  > </input></p>
        <p> -    </p>
        <p><input name="changes4"  placeholder = "Тип атрибута"  > </input></p>
    </div>

    
    <button type = "sumbit" class="btn btn-dark" aria-pressed="true"> OK</button>
    </div>
    </form>
</div>



</body>
</html>