  
<!DOCTYPE html>
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ЛБ1</title>
  {% load staticfiles %}  
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"
   type="text/css">

</head>
    {% block content  %}
   <body>
   <table class="table table-dark">
   <thead class="thead-inverse">
    <tr><th>Id</th><th>Имя</th><th>Фамилия</th><th>Отчество</th></tr>
    </thead>
   {% for i in people %}
    <tr class='success'>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.soname }}</td>
        <td>{{ i.patonymic }}</td>
    </tr>
        {% endfor %}
        </table>
        </thead>
    </body>
      {% endblock  %}