 
<!DOCTYPE html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Query</title>
  
<div class="jumbotron">

<form action="/laba1/query/bd" class="form-inline" method="Post"> 
      <div class="">
          {% csrf_token %}
          <label for="exampleFormControlSelect2">  Your query: </label>
          <p></p>
        <div class="form-group mx-sm-3 mb-2">
          <input  id="qq"  type="text" name="query"  >
          <p></p>
        </div >
          <p></p>
        <div class="row ">
        <div class="text-center">
        <div class="col-1">
          <button type="submit" class="btn btn-dark" aria-pressed="true">OK </button>
        </div>
        </div>
        </form>
            <div class="col-1">
              <form action="\">
                <p><button  type="submit" class="btn btn-dark" aria-pressed="true">Назад</button></p>
          </form>
        </div>
        </div>
        </div>
</head>

  {% if Errors  %}
    <div  class="alert alert-danger" role="alert">
    <p href="/laba1"  >{{ Errors }} </p>
    </div>
  {% endif %}
  <div  class="alert alert-success" role="alert">
    <p > Last query:   <p class="lead">  {{ Query }}</p></p>
    </div>


<p><table class="table">
    <thead class="thead-dark">
     <tr>
     {% for i in keys %}
     <th>{{ i }}</th>
     {% endfor %}
     </tr>
     </thead>

    <thead>
    {% for id in dates %}
     <tr class='success'>
      {% for i in id %}
        <td> {{ i }}</td>
         {% endfor %}
      </tr>
      {% endfor %}  
        </thead>
  </table>


  